<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/fav.png'%}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Extrnal CSS-->
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>Weather</title>
</head>
<body>
  {% block content %}
  {% endblock content %}

</body>
</html>